<form method="post" action="{{ path('rapport_delete', {'id': rapport.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer ce rapport?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ rapport.id) }}">
    <button class="btn btn-outline-danger">{{ button_label|default('Supprimer') }}</button>
</form>
